# env variables
# create a copy of this file and rename it to .env, environment variables will be stored here. This file is ignored by git
TEST_VAR=true_or_false
PORT=port_number
DB_URI=protocol://user:pwd@host:port/dbname?optional-options-as-query-params
JWT_HMAC_SECRET=secret_string
