:root {
  /* colors */
  --color-navbar: #d9d9d9;
  --color-dark: #1C1F2B;
  --color-primary: #00BFA5;
  --color-accent: #D46919;
}

/* homepage background */
.bg-homepage {
  background-image: url("../../public/images/bg_home.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}